@import '@servicenow/sass-kit/host';

.container {
    display: flex;
    flex-direction: row;
}

.cards1 .cards2 {
    display: flex;
    flex-direction: row;
}



now-template-card-assist {
    width: 500px;
    margin: 10px;
}